<!DOCTYPE html>
<html>
<head>
  <title>PropGen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag '//tinymce.cachefly.net/4.2/tinymce.min.js' %>
</body>
</html>
